@use "styles" as *;

.testimonialCard {
  background-color: color(mainColorDark);
  color: color(lightBg);
  width: 30%;
  padding: 20px 25px;
  border-radius: 5px;
  max-width: 350px;
  box-shadow: 0 0 3px color(mainColorDark);
  position: relative;
  transition: 0.3s ease-out;

  @include maxWidth(991px) {
    width: 40%;
    margin-bottom: 30px;
  }

  @include maxWidth(575px) {
    width: 100%;
  }

  &:hover {
    box-shadow: 5px 3px 12px color(mainColorDark);
  }

  .testimonialCard__imageDiv {
    text-align: center;
    margin: 15px auto;
  }

  .testimonialCard__image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }

  .testimonialCard__name,
  .testimonialCard__status,
  .testimonalCard__paragraph {
    text-align: center;
  }

  .testimonialCard__name {
    font-weight: 500;
    font-size: 1.3rem;
  }

  .testimonalCard__paragraph {
    margin-top: 10px;
    font-size: 0.9rem;
  }
}
