@use "styles" as *;

.linkTag {
  text-decoration: none;
  color: color(whiteColor);
  font-weight: 400;
  transition: 0.3s;

  &:hover {
    color: color(mainColor);
  }

  &.btn {
    border: 1px solid color(mainColor);
    outline: none;
    padding: 0.7rem 2.5rem;
    border-radius: 5px;
    color: color(whiteColor);
    cursor: pointer;
    background-color: color(mainColor);
    transition: 0.3s ease-in-out;
    font-weight: 600;

    &:hover {
      background-color: color(lightBg);
      color: color(mainColorDark);
      border: 1px solid color(mainColorDark);
    }
  }

  &.outline {
    @extend .btn;

    color: color(whiteColor);
    background-color: transparent;
    border: 1px solid color(whiteColor);

    &:hover {
      color: color(mainColor);
      background-color: transparent;
    }
  }
}
