@use "styles" as *;

.qualificationCard {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid color(mainColor);

  .qualificationCard__title {
    margin-bottom: 15px;
  }

  .qualificationCard__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .qualificationCard__content {
    font-size: 0.9rem;
  }
}
