@use "styles" as *;

.qualification {
  .qualification__subHeader,
  .qualification__mainHeader {
    text-align: center;
  }

  .qualification__profile {
    display: flex;
    justify-content: space-between;
  }

  .qualification__profileDetail {
    width: 45%;
  }

  .qualification__profileHeader {
    margin-bottom: 15px;
  }
}
