@use "styles" as *;

.serviceCard {
  width: 30%;
  max-width: 350px;
  box-shadow: 0 0 3px color(mainColorDark);
  background-color: color(white);
  position: relative;
  border-radius: 5px;
  transition: 0.3s ease-out;

  @include maxWidth(991px) {
    width: 40%;
    margin-bottom: 30px;
  }

  @include maxWidth(575px) {
    width: 100%;
  }

  &:hover {
    box-shadow: 5px 3px 12px color(mainColorDark);

    .serviceCard__logo {
      background-color: color(mainColorDark);

      svg {
        path {
          fill: color(mainColorDark);
          stroke: color(lightBg);
        }
      }
    }
  }

  .serviceCard__container {
    padding: 35px 20px;
  }

  .serviceCard__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    box-shadow: 0 0 3px color(mainColorDark);
    margin: 0 auto;
    font-size: 3rem;
    transition: 0.3s ease-out;
  }

  .serviceCard__header,
  .serviceCard__paragraph {
    margin: 15px auto;
    text-align: center;
  }

  .serviceCard__btn {
    width: 100%;
  }
}
