@use "styles" as *;

.testimonial {
  overflow: hidden;
  margin-bottom: 50px;
  padding-bottom: 15px;

  .testimonial__cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
