@use "styles" as *;

.about {
  margin-bottom: 60px;
  overflow: hidden;

  &.show {
    .about__profileImageDiv {
      animation: animateRight 0.5s forwards ease-out;
    }

    .about__profileInfo {
      animation: animateLeft 0.5s forwards ease-out;
    }
  }

  .about__profile {
    display: flex;
    margin: 25px 0;
    justify-content: space-between;

    @include maxWidth(767px) {
      flex-direction: column;
    }
  }

  .about__profileInfo {
    width: 60%;

    @include maxWidth(767px) {
      width: 100%;
    }
  }

  .about__profileHeader {
    opacity: 0;
    transform: translateX(100px);

    &.show {
      animation: animateLeft 0.5s forwards ease-out;
    }
  }

  .about__profileParagraph {
    font-weight: 500;
    margin-bottom: 20px;
    opacity: 0;

    &.show {
      &:nth-child(even) {
        animation: animateLeft 0.5s forwards ease-out;
        transform: translateX(100px);
      }

      &:nth-child(odd) {
        animation: animateRight 0.5s forwards ease-out;
        transform: translateX(-100px);
      }
    }

    .linkTag {
      color: color(mainColorDark);
      font-weight: 600;
      box-shadow: 0 0 2px color(mainColorDark);
      padding: 0 3px;
    }
  }

  .about__profileImageDiv {
    width: 35%;
    opacity: 0;
    transform: translateX(-100px);

    &.show {
      animation: animateRight 0.5s forwards ease-out;
    }

    @include maxWidth(767px) {
      width: 100%;
    }
  }

  .about__profileImageDivContainer {
    width: 100%;
    display: flex;
    box-shadow: 0 0 4px color(mainColorDark);
    border-radius: 5px;
    overflow: hidden;

    @include maxWidth(767px) {
      width: 60%;
      margin: 0 auto 30px;
    }

    @include maxWidth(575px) {
      width: 80%;
    }
  }
}
