@use "styles" as *;

.navLink {
  // text-transform: uppercase;
  text-align: center;
  color: color(textColor);
  font-style: italic;
  font-weight: 500;
  position: relative;
  font-family: "Josefin Sans", sans-serif;
  transition: 0.3s ease-out;

  @include maxWidth(991px) {
    margin-bottom: 35px;
  }

  &:hover,
  &.active {
    color: color(mainColorDark);

    &:before {
      width: 100%;
    }
  }

  &:before {
    content: "";
    position: absolute;
    width: 0;
    left: 0;
    bottom: -10px;
    height: 2px;
    background-color: color(mainColor);
    transition: 0.3s ease-out;
  }
}
