@use "styles" as *;

.services {
  margin-bottom: 60px;
  padding-bottom: 15px;
  overflow: hidden;

  .services__body {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
