@use "styles" as *;

.qualification {
  margin-bottom: 60px;
  overflow: hidden;

  .qualification__subHeader,
  .qualification__mainHeader {
    text-align: center;
  }

  .qualification__profile {
    display: flex;
    justify-content: space-between;

    @include maxWidth(991px) {
      flex-direction: column;
    }
  }

  .qualification__profileDetail {
    width: 45%;
    opacity: 0;

    &:nth-child(1) {
      opacity: 0;
      transform: translateX(100px);

      &.show {
        animation: animateLeft 0.5s forwards ease-out;
      }
    }

    &:nth-child(2) {
      opacity: 0;
      transform: translateX(-100px);

      &.show {
        animation: animateRight 0.5s forwards ease-out;
      }
    }

    @include maxWidth(991px) {
      width: 100%;
      margin-bottom: 30px;
      flex-direction: column;
    }
  }

  .qualification__profileHeader {
    margin-bottom: 15px;
  }
}
